@import "reset.css";
@import url("https://fonts.googleapis.com/css2?family=Nanum+Gothic+Coding&display=swap");

/* body 전체에 대한 기본적인 background color 와 text color */

body {
  font-family: "Nanum Gothic Coding", monospace;
  font-weight: 400;
  font-style: normal;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  word-break: keep-all;
}

button {
  cursor: pointer;
}

.body_background {
  background-color: #212121;
  color: #bfbfbf;
}

/* 화면 최 상단 NAV바 필요하면 fixed 추가 가능 */

.nav {
  height: 70px;
  width: 100vw;
  display: flex;
  color: #bfbfbf;
  align-items: center;
  justify-content: center;
  border-bottom: 3px solid #2e2e2e;
}

.nav_title {
  font-size: 30px;
}

/* NAV바 아래에 있는 2개의 박스 */

.infobox {
  margin-top: 100px;
  max-width: 1224px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  gap: 100px;
}

.info_content {
  height: 400px;
  min-width: 582px;
  width: 100%;
  border: 1px solid #bfbfbf;
  border-radius: 10px;
}

.info_content_title {
  text-align: center;
  font-size: 25px;
  margin-top: 8px;
  padding-bottom: 8px;
  border-bottom: 1px solid #bfbfbf;
}

.info_main1 {
  font-size: 20px;
  padding-top: 30px;
  padding-left: 20px;
}

/* 구독 로직이 들어가야하는 박스 */

.info_content_subbox {
  height: 400px;
  min-width: 482px;
  width: 100%;
  border: 1px solid #bfbfbf;
  border-radius: 10px;
  overflow-y: scroll;
}

/* 팀원소개 카드 왼쪽 박스 내용 */

.links {
  width: 100%;
  align-items: center;
  display: flex;
  justify-content: space-evenly;
}

.profile_img {
  width: 500px;
  height: 330px;
  border-radius: 10px;
}

.git_1 {
  width: 35px;
  height: 35px;
  transition: all 0.4s;
}

.blog {
  width: 30px;
  height: 30px;
  transition: all 0.4s;
}

.sns {
  width: 30px;
  height: 30px;
  border: 1px solid white;
  border-radius: 10px;
  transition: all 0.4s;
}

.email {
  width: 40px;
  height: 30px;
  transition: all 0.4s;
}

.link_images:hover {
  scale: 150%;
}

.link_images_mail:hover {
  height: 40px;
  width: 50px;
}

/* 팀원소개 카드 오른쪽 텍스트 내용 */

.card_right {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 40px;
}

.idv_name_tag {
  font-size: 50px;
}

.div_course {
  margin-top: 8px;
  margin-left: 12px;
}

.idv_info_1_content {
  font-size: 20px;
  line-height: 1.4;
}

.idv_info_2_content {
  margin-left: 10px;
}

/* 팀원소개 텍스트 */

.text {
  max-width: 1224px;
  width: 100%;
  text-align: left;
  color: white;
  font-size: 60px;
  margin-top: 80px;
  padding-left: 16px;
  padding-bottom: 8px;
  border-bottom: 1px solid #bfbfbf;
}

/* 팀원 소개 카드박스 폼 */

.card {
  max-width: 1224px;
  width: 100%;
  height: 380px;
  padding-top: 100px;
  padding-bottom: 100px;
  display: flex;
  justify-content: between;
  align-items: center;
  gap: 100px;
}

.card_reverse {
  max-width: 1224px;
  width: 100%;
  height: 100%;
  padding-top: 100px;
  padding-bottom: 100px;
  display: flex;
  flex-direction: row-reverse;
  justify-content: between;
  align-items: center;
  gap: 100px;
}

.card_left {
  display: flex;
  flex-direction: column;
  padding-bottom: 20px;
  border-bottom: 1px solid #bfbfbf;
  gap: 20px;
}

/* 맨 아래쪽에 있는 구독박스 */

.subbox_form {
  border: 1px solid #bfbfbf;
  width: 800px;
  height: 500px;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 10px;
  padding-left: 24px;
  padding-right: 24px;
}

.subbox_low_title {
  width: 100%;
  text-align: center;
  padding-top: 24px;
  padding-bottom: 24px;
  font-size: 40px;
  border-bottom: 1px solid #bfbfbf;
}

.subbox_low_text {
  font-size: 16px;
  text-align: center;
  letter-spacing: 0.2rem;
  line-height: 1.2;
}

#submit-form {
  width: 80%;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 60px;
  padding-bottom: 40px;
  gap: 20px;
}

#submit-form input {
  width: 100%;
  padding: 20px 0px;
  font-size: 15px;
}

.submitbtn {
  width: 360px;
  height: 50px;
  font-size: 20px;
  margin-top: 10px;
}

/* 간단한 footer */

.footer {
  height: 80px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}
