@import "reset.css";
@import url("https://fonts.googleapis.com/css2?family=Nanum+Gothic+Coding&display=swap");

/* body 전체에 대한 기본적인 background color 와 text color */

body {
  font-family: "Nanum Gothic Coding", monospace;
  font-weight: 400;
  font-style: normal;
}

.body_background {
  background-color: #212121;
  color: #bfbfbf;
}

/* 화면 최 상단 NAV바 필요하면 fixed 추가 가능 */

.nav {
  height: 70px;
  display: flex;
  color: #bfbfbf;
  align-items: center;
  justify-content: center;
  border-bottom: 3px solid #2e2e2e;
}

.nav_title {
  font-size: 30px;
}

/* NAV바 아래에 있는 2개의 박스 */

.infobox {
  display: flex;
  justify-content: center;
}

.info_content {
  margin-top: 100px;
  margin-left: 150px;
  margin-right: 150px;
  height: 400px;
  width: 800px;
  border: 1px solid #bfbfbf;
  border-radius: 10px;
}

.info_content_title {
  text-align: center;
  font-size: 25px;
  margin-top: 8px;
  padding-bottom: 8px;
  border-bottom: 1px solid #bfbfbf;
}

.info_main1 {
  font-size: 20px;
  padding-top: 30px;
  padding-left: 20px;
}

/* 구독 로직이 들어가야하는 박스 */

.info_content_subbox {
  margin-top: 100px;
  margin-left: 150px;
  margin-right: 150px;
  height: 400px;
  width: 600px;
  border: 1px solid #bfbfbf;
  border-radius: 10px;
}

.table {
  height: 400px;
  width: 600px;
}

thead {
  border-top: 10px;
  font-size: medium;
}

/* 팀원소개 카드 왼쪽 박스 내용 */

.links {
  align-items: center;
  display: flex;
  justify-content: space-between;
  margin: 40px 250px;
  margin-bottom: 20px;
}

.profile_img {
  width: 500px;
  height: 330px;
  margin-top: 80px;
  margin-left: 100px;
  border-radius: 10px;
}

.git_1 {
  width: 35px;
  height: 35px;
  transition: all 0.4s;
}

.blog {
  width: 30px;
  height: 30px;
  transition: all 0.4s;
}

.sns {
  width: 30px;
  height: 30px;
  border: 1px solid white;
  border-radius: 10px;
  transition: all 0.4s;
}

.email_box {
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 3px;
}

.email_img {
  width: 40px;
  height: 30px;
  transition: all 0.4s;
}

.link_images:hover {
  height: 40px;
  width: 40px;
}

.link_images_mail:hover {
  height: 40px;
  width: 50px;
}

/* 팀원소개 카드 오른쪽 텍스트 내용 */

.card_right_text {
  margin-top: 85px;
}

.idv_name_tag {
  font-size: 50px;
}

.div_course {
  margin-left: 74px;
  margin-top: 5px;
}

.idv_info_1 {
  margin-top: 50px;
  margin-left: 5px;
  font-size: 30px;
  margin-bottom: 30px;
}

.idv_info_1_content {
  margin-left: 5px;
  font-size: 20px;
  line-height: 1.4;
  margin-right: 80px;
}

.idv_info_2_content {
  margin-left: 10px;
}

/* 팀원소개 텍스트 */

.text {
  text-align: center;
  color: white;
  font-size: 60px;
  margin-top: 80px;
}

/* 팀원 소개 카드박스 폼 */

.cardbox {
  display: flex;
  justify-content: center;
}

.card {
  margin-top: 50px;
  width: 1400px;
  height: 600px;
  display: flex;
}

.card_left {
  width: 50%;
}

.card_right {
  width: 50%;
}

/* 맨 아래쪽에 있는 구독박스 */

.subbox_form {
  display: flex;
  justify-content: center;
}

.subbox_low {
  margin-top: 100px;
  border: 1px solid #bfbfbf;
  width: 1200px;
  height: 500px;
  border-radius: 10px;
}

.subbox_form {
  text-align: center;
}

.subbox_low_title {
  border-top: 50px;
  height: 100px;
  line-height: 100px;
  font-size: 40px;
  border-bottom: 1px solid #bfbfbf;
}

.subbox_low_text {
  font-size: 25px;
  margin: 8px;
}

#submit-form {
  display: flex;
  flex-direction: column;
  margin: 40px 350px;
}

#submit-form input {
  padding: 20px 0px;
  border: none;
  font-size: 15px;
  color: white;
  background-color: #212121;
  border-bottom: 1px solid #bfbfbf;
}

.submitbtn {
  height: 50px;
  font-size: 20px;
  margin-top: 10px;
  background-color: #212121;
  border: 1px solid #bfbfbf;
  color: white;
  transition: all 0.4s;
}

.submitbtn:hover {
  border: 5px solid #212121;
  background-color: white;
  color: #212121;
}

input:focus {
  outline: none;
}

/* 간단한 footer */

.footer {
  height: 80px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}
